<section id="renderlet-gallery">
    {{
        pimcore_renderlet('myGallery', {
            "controller" : "content",
            "action" : "myGallery",
            "title" : "Drag an asset folder here to get a gallery",
            "height" : 1000
        })
    }}
</section>
